/* Register.css */

.register-container {
    max-width: 400px;
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin:auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  
  .register-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
  }
  
  .register-container form div {
    margin-bottom: 1.25rem;
  }
  
  .register-container label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .register-container input[type="text"],
  .register-container input[type="number"],
  .register-container input[type="tel"],
  .register-container input[type="email"],
  .register-container input[type="password"],
  .register-container input[type="text"],
  .register-container select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  .register-container input:focus,
  .register-container select:focus {
    border-color: #28a745;
    outline: none;
  }
  
  .register-container button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #28a745;
    border: none;
    border-radius: 0.25rem;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-container button:hover {
    background-color: #218838;
  }
  



  .ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ReactModal__Content {
    position: relative;
    margin: auto;
    padding: 1rem;
    width: 300px;
    height: 150px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .ReactModal__Content h2 {
    margin-top: 0;
  }
  
  .ReactModal__Content form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ReactModal__Content label {
    margin-bottom: 0.5rem;
  }
  
  .ReactModal__Content input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  
  .ReactModal__Content button {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ReactModal__Content button:hover {
    background-color: #0056b3;
  }