.header {
    background-color: #28a745; /* Vert */
    color: #fff; /* Texte blanc */
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  }
  
  .header nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .nav-links li a:hover {
    background-color: #339369; /* Vert plus foncé au survol */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 4rem;
    left: 1rem;
    color: #fff;
  }
  
  .auth-button {
    margin-left: auto; /* Pour pousser les boutons vers la gauche */
  }
  
  .auth-link {
    padding: 10px;
    border-radius: 2rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #53674655;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: #154320;
  }
  
  .auth-link:hover {
    background-color: #218838;
    color: #fff;
    padding: 0.625rem; /* 10px */
    border-radius: 0.3125rem; /* 5px */
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  